[defaults]
inventory = inventory/example.yml
host_key_checking = True
retry_files_enabled = False
duplicate_yaml_dict_key = error
local_tmp = .cache/ansible/tmp

[inventory]
enable_plugins = host_list,yaml
unparsed_is_failed = True
any_unparsed_is_failed = True
